<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../new_assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>BatikIn - Login</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../new_assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../new_assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../new_assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../new_assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../new_assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../new_assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../new_assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../new_assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../new_assets/js/config.js"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <h4 class="mb-2 text-center" style="font-family: 'Yellowtail'; font-size: 40px;">BatikIn</h4>
              <div hidden id="alert-container" class="alert alert-danger">
                    <b id="alert-message">Error Message</b>
             </div>
              <hr>

              <form id="" class="mb-3" action="index.html" method="POST">
                {{!-- <div class="mb-3">
                  <label for="username" class="form-label">Your name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your fullname"
                    autofocus
                  />
                </div> --}}
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="emailValue" name="email" placeholder="Enter your email" />
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="passwordValue"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                <button type="button" id="submitBtn" class="btn btn-primary d-grid w-100" 
                style="background-image: linear-gradient(to right, #3B8056 , #58BA7E); border: none;"
                >Masuk</button>
              </form>

              <p class="text-center">
                <span>Belum mempunyai akun ?</span>
                <a href="auth-login-basic.html">
                  <span style="color: #3B8056;"><u>Daftar disini</u></span>
                </a>
              </p>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../new_assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../new_assets/vendor/libs/popper/popper.js"></script>
    <script src="../new_assets/vendor/js/bootstrap.js"></script>
    <script src="../new_assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../new_assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../new_assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script>
            $(document).ready(() => {
                cekAuth()
                const alertContainer = $('#alert-container')
                let alertMessage = $('#alert-message')

                const submitBtn = $('#submitBtn')
                submitBtn.click(() => {
                    submitBtn.attr('disabled', true)
                    submitBtn.html('Please Wait ..')
                    alertContainer.attr('hidden', true)
                    const email = $('#emailValue').val()
                    const password = $('#passwordValue').val()
                    if(email == '' || password == ''){
                        alertContainer.attr('hidden', false)
                        alertMessage.html('Email and Password must be filled !')
                        submitBtn.attr('disabled', false)
                        submitBtn.html('Sign In')
                        return
                    }
                    const data = {email, password}
                    $.ajax({
                        url: '/login',
                        method: 'POST',
                        data,
                        dataType: 'JSON',
                        success: (data => {
                            if(data.status){
                                localStorage.setItem('accessToken', data.token)
                                window.location = '/admin/batik'
                            } else {
                                alertContainer.attr('hidden', false)
                                alertMessage.html(data.message)
                                submitBtn.attr('disabled', false)
                                submitBtn.html('Sign In')
                            }
                        }),
                        error: (err => {
                            alertContainer.attr('hidden', false)
                            alertMessage.html(err?.responseJSON?.message || 'unknown error');
                            submitBtn.attr('disabled', false)
                            submitBtn.html('Sign In')
                        })
                    })
                })

                $('#showPassword').click(() => {
                    const type = $('#passwordValue').attr('type')
                    if(type == 'password') {
                        $('#passwordValue').attr('type', 'text')
                        $('#iconPassword').attr('class', 'fa fa-eye-slash')
                    } else {
                        $('#passwordValue').attr('type', 'password')
                        $('#iconPassword').attr('class', 'fa fa-eye')
                    }
                })
            })

            const cekAuth = () => {
                const accessToken = localStorage.getItem('accessToken')
                $.ajax({
                    url: '/verify',
                    method: 'POST',
                    data: {
                    accessToken
                    },
                    dataType: 'JSON',
                    success: (response) => {
                        if(response.data.isVerified) {
                            window.location = '/admin/batik'
                        } 
                    },
                    error: (err) => {
                        console.log(err)
                        localStorage.clear()
                    }
                })
            }
        </script>
  </body>
</html>
