<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Question</h4>
   <!-- Hoverable Table rows -->
   <a href="../admin/question_detail" class="btn rounded-pill btn-success mb-3" style="background-color: #185C64; border: none;">Buat Pertanyaan baru</a>
   <div class="card">
      <h5 class="card-header">Question List for Quiz</h5>
      <div class="table-responsive text-nowrap">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Question</th>
                  <th>Last updated at</th>
                  <th>Status</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="table-content">
              {{!-- Dynamic Content --}}
            </tbody>
         </table>
      </div>
   </div>
   <!--/ Hoverable Table rows -->
</div>

{{!-- Modal Edit --}}
<div class="col-lg-4 col-md-6">
   <div class="mt-3">
      <!-- Modal -->
      <div class="modal fade" id="modalUpdate" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalUpdateTitle">Update status question</h5>
                  <button
                     type="button"
                     class="btn-close"
                     data-bs-dismiss="modal"
                     aria-label="Close"
                     ></button>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="col mb-3">
                        <label for="nameInput" class="form-label">Status</label>
                        <select name="statusInput" id="statusInput" class="form-control">
                            <option value="ACTIVE" id="activeOption">active</option>
                            <option value="INACTIVE" id="inactiveOption">inactive</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Batal
                  </button>
                  <button type="button" class="btn btn-primary" onclick="updateQuestionStatus();">Simpan</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{{!-- Modal delete --}}
<div class="col-lg-4 col-md-6">
   <div class="mt-3">
      <!-- Modal -->
      <div class="modal fade" id="modalDelete" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalDeleteTitle">Hapus batik xxx</h5>
                  <button
                     type="button"
                     class="btn-close"
                     data-bs-dismiss="modal"
                     aria-label="Close"
                     ></button>
               </div>
               <div class="modal-body">
                 
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Batal
                  </button>
                  <button type="button" class="btn btn-danger" onclick="deleteQuestion();">Ya, hapus data batik ini</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(() => {
      cekAuth()
      fetchQuestion()
        $('#logoutBtn').click(() => {
            localStorage.clear()
            window.location = '/logout'
        })
    });
    const accessToken = localStorage.getItem('accessToken');
    const cekAuth = () => {
      $.ajax({
        url: '/verify',
        method: 'POST',
        data: {
          accessToken
        },
        dataType: 'JSON',
        success: (response) => {
          if(!response.data.isVerified) {
              localStorage.clear()
              window.location = '/logout'
          } else {
              const userdata = response.data.data;
              if(userdata.role !== 'ADMIN') {
                // redirect to forbidden page
              }
              console.log('userdata : ', userdata);
              $('#nameLabel').html(userdata.name)
          }
        },
        error: (err) => {
          console.log(err)
          localStorage.clear()
          window.location = '/logout'
        }
      })
    }
    const BACKEND_URL = 'https://api.batikin.site';
    let activeBatikId = 0;
    const fetchQuestion = () => {
        $.ajax({
          url: `${BACKEND_URL}/api/question`,
          method: 'GET',
          dataType: 'JSON',
          headers: {
            'Authorization': `Bearer ${accessToken}`
          },
          success: (response) => {
            console.log('Response ', response);
            for(let i = 0; i < response.data.length; i++) {
              showAll(response.data[i], i);
            }
          },
          error: (err) => {
            console.log(err)
          }
        });
    }
    const showAll = (data, index) => {
      const container =  $('#table-content');
      let badgeClass = 'success';
      let badgeValue = 'Active';
      if(!data.isActive) {
        badgeClass = 'danger';
        badgeValue = 'Inactive';
      }
      const row = `<tr>                  
                    <td>${data.content}</td>
                    <td>${data.updatedAt}</td>
                    <td>
                        <span class="badge rounded-pill bg-label-${badgeClass}" onclick="showModal('update', ${data.id}, '${data.content}')">${badgeValue}</span>
                    </td>
                    <td>
                        <a
                              href="../admin/question_detail?id=${data.id}"
                              class="btn btn-sm btn-primary">
                                Edit
                            </a>
                            <button
                              type="button"
                              class="btn btn-sm btn-danger"
                              onclick="showModal('delete', ${data.id}, '${data.content}')">
                                Delete
                            </button>
                    </td>
                  </tr>`
      container.append(row)
    }
    const showModal = (action, id, name) => {
      let modal = $('#modalUpdate');
      let title = $('#modalUpdateTitle');
      activeBatikId = Number(id);
      if(action === 'delete') {
        modal = $('#modalDelete');
        title = $('#modalDeleteTitle');
        title.text(`Hapus data question ?`);
        modal.modal('show');
      } else if(action === 'update') {
        title.text(`Update question status`);
        modal.modal('show');
      }
    }
    const updateQuestionStatus = () => {
      const newStatus = $('#statusInput').val();
      const isActive = newStatus === "ACTIVE";
      $.ajax({
          url: `${BACKEND_URL}/api/question/status`,
          method: 'PUT',
          dataType: 'JSON',
          contentType: 'application/json',
          data: JSON.stringify({
            isActive, 
            questionId: Number(activeBatikId)
          }),
          headers: {
            'Authorization': `Bearer ${accessToken}`
          },
          success: (response) => {
            location.reload();
          },
          error: (err) => {
            console.log(err);
          }
        });
    }
    const deleteQuestion = () => {
      $.ajax({
          url: `${BACKEND_URL}/api/question/${activeBatikId}`,
          method: 'DELETE',
          dataType: 'JSON',
          headers: {
            'Authorization': `Bearer ${accessToken}`
          },
          success: (response) => {
            location.reload();
          },
          error: (err) => {
            console.log(err);
          }
        });
    }
</script>

            