<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://app.bitbybit.studio/favicon_black.ico">

    <title>nusaCRM - Dashboard Login</title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/skin_color.css">
    <script src="https://kit.fontawesome.com/d5a9a38efa.js" crossorigin="anonymous"></script>	
    <style>
        .input-nusacrm {
            height: 40px; border: 1px solid; border-color: grey;
        }
    </style>
</head>
<body class="hold-transition theme-primary bg-img" style="background-color: #F8F2EF;">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center g-0">
					<div class="col-lg-5 col-md-5 col-12">
						<div class="bg-white rounded10 shadow-lg">
                            <div class="card-body" style="padding: 40px;">
                                <h4 style="color: black; font-size: 20px; font-weight: 410;">Login to Dashboard nusaCRM</h4>
                                <br>
                                <div hidden id="alert-container" class="badge badge-danger-light" style="padding: 15px; width: 100%; color: #262627; text-align: left;">
                                    <b id="alert-message">Error Message</b>
                                </div>
                                <div class="mt-4">
                                    <form action="/login" method="post">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <input id="emailValue" name="email" type="email" class="form-control ps-15 bg-transparent input-nusacrm" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <input id="passwordValue" name="password" type="password" class="form-control ps-15 bg-transparent input-nusacrm" placeholder="Password">
                                                <span id="showPassword" class="input-group-text bg-transparent" style="border-color: grey; border-left: none;">
                                                    <i id="iconPassword" class="fa fa-eye"></i>
                                                </span>
                                            </div>
                                        </div>
                                          <div class="row">
                                            <div class="col-12 text-center">
                                              <button id="submitBtn" type="button" style="background-color: #262627; border: #262627; font-size: 16px;" class="btn col-12 btn-dark mt-10"><strong>Sign In</strong></button>
                                            </div>
                                            <!-- /.col -->
                                          </div>
                                    </form>			
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
						
		</div>
	</div>	

	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
	<script src="js/pages/chat-popup.js"></script>
    <script src="assets/icons/feather-icons/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(() => {
                cekAuth()
                const alertContainer = $('#alert-container')
                let alertMessage = $('#alert-message')

                const submitBtn = $('#submitBtn')
                submitBtn.click(() => {
                    submitBtn.attr('disabled', true)
                    submitBtn.html('Please Wait ..')
                    alertContainer.attr('hidden', true)
                    const email = $('#emailValue').val()
                    const password = $('#passwordValue').val()
                    if(email == '' || password == ''){
                        alertContainer.attr('hidden', false)
                        alertMessage.html('Email and Password must be filled !')
                        submitBtn.attr('disabled', false)
                        submitBtn.html('Sign In')
                        return
                    }
                    const data = {email, password}
                    $.ajax({
                        url: '/login',
                        method: 'POST',
                        data,
                        dataType: 'JSON',
                        success: (data => {
                            if(data.status){
                                localStorage.setItem('accessToken', data.token)
                                window.location = '/home'
                            } else {
                                alertContainer.attr('hidden', false)
                                alertMessage.html(data.message)
                                submitBtn.attr('disabled', false)
                                submitBtn.html('Sign In')
                            }
                        }),
                        error: (err => {
                            alertContainer.attr('hidden', false)
                            alertMessage.html(err)
                            submitBtn.attr('disabled', false)
                            submitBtn.html('Sign In')
                        })
                    })
                })

                $('#showPassword').click(() => {
                    const type = $('#passwordValue').attr('type')
                    if(type == 'password') {
                        $('#passwordValue').attr('type', 'text')
                        $('#iconPassword').attr('class', 'fa fa-eye-slash')
                    } else {
                        $('#passwordValue').attr('type', 'password')
                        $('#iconPassword').attr('class', 'fa fa-eye')
                    }
                })
            })

            const cekAuth = () => {
                const accessToken = localStorage.getItem('accessToken')
                $.ajax({
                    url: '/verify',
                    method: 'POST',
                    data: {
                    accessToken
                    },
                    dataType: 'JSON',
                    success: (response) => {
                        if(response.data.isVerified) {
                            window.location = '/home'
                        } 
                    },
                    error: (err) => {
                        console.log(err)
                        localStorage.clear()
                    }
                })
            }
        </script>
</body>
</html>
