<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-2"><span class="text-muted fw-light">Dashboard /</span> Artikel Bookmarks</h4>
   <div class="alert alert-info">
        <i class='bx bx-info-circle' ></i> &nbsp This page only showing your favorite articles, you can remove it by remove bookmark on each detail page of that article
   </div>
              <div class="row mb-5" id="article-content">
                {{!-- Content --}}
              </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(() => {
      cekAuth()
      fetchArticles()
        $('#logoutBtn').click(() => {
            localStorage.clear()
            window.location = '/logout'
        })
    });
    const accessToken = localStorage.getItem('accessToken');
    const cekAuth = () => {
      $.ajax({
        url: '/verify',
        method: 'POST',
        data: {
          accessToken
        },
        dataType: 'JSON',
        success: (response) => {
          if(!response.data.isVerified) {
              localStorage.clear()
              window.location = '/logout'
          }
        },
        error: (err) => {
          console.log(err)
          localStorage.clear()
          window.location = '/logout'
        }
      })
    }
    const BACKEND_URL = 'https://backend.batikin.site';
    let activeBatikId = 0;
    const fetchArticles = () => {
        $.ajax({
        url: `${BACKEND_URL}/api/articles/bookmark`,
        method: 'GET',
        dataType: 'JSON',
        headers: {
          'Authorization': `Bearer ${accessToken}`
        },
        success: (response) => {
          for(let i = 0; i < response.data.length; i++) {
            showAll(response.data[i], i);
          }
        },
        error: (err) => {
          console.log(err)
        }
      })
    }
    const showAll = (data, index) => {
      const container =  $('#article-content');
      let subtitle = data.subtitle;
      if(subtitle.length > 47) {
          subtitle = `${data.subtitle.substring(0, 47)}...`;
      }
      const content = `
        <div class="col-md-6 col-sm-12">
                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img style="max-height: 200px;" class="card-img card-img-left" src="${data.image}" alt="Card image" />
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">${data.title}</h5>
                          <p class="card-text"><small class="text-muted">${subtitle}</small></p>
                          <p class="card-text">
                            ${data.content.substring(0, 100)} ...
                          </p>
                          <p class="card-text"><small class="text-muted">Last updated ${data.updatedAt}</small></p>
                          <a href="article_detail?id=${data.id}" class="btn btn-sm btn-primary batikin-gradient">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
      `
      container.append(content)
    }
</script>

            