<div class="container-xxl flex-grow-1 container-p-y">
   <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Classification</h4>
   <div class="row">
      <div class="col-md-12">
         <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
               <a class="nav-link batikin-gradient" style="color: white;" href="../user/classification">
               <i class="bx bx-camera me-1"></i> Scan</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../user/classification_history"
                  ><i class="bx bx-history me-1"></i> History</a
                  >
            </li>
         </ul>
         <div class="card mb-4">
            <h5 class="card-header">New Classification</h5>
            <!-- Account -->
            <div class="card-body">
               <div class="alert alert-warning" id="profileUncompleted" hidden="true">
                  <i class="bx bx-error-alt bx-sm align-middle"></i> &nbsp
                  Your profile is not complete, you can complete data for profile on this page
               </div>
               <div class="d-flex align-items-start align-items-sm-center gap-4">
                  <img
                     src="../new_assets/img/batikin/img_placeholder.png"
                     alt="user-avatar"
                     class="d-block"
                     height="300"
                     width="500"
                     id="profilePictureUploaded"
                     />
                  <div class="button-wrapper">
                     <label for="upload" class="btn btn-primary batikin-gradient me-2 mb-4" tabindex="0">
                     <span class="d-none d-sm-block">Upload new image</span>
                     <i class="bx bx-upload d-block d-sm-none"></i>
                     <input 
                        type="file"
                        id="upload"
                        class="account-file-input"
                        hidden
                        accept="image/png, image/jpeg"
                        />
                     </label>
                     <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                     <i class="bx bx-reset d-block d-sm-none"></i>
                     <span class="d-none d-sm-block" id="reset">Reset</span>
                     </button>
                     <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                  </div>
               </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <div id="cLoading" hidden="true">
                    <img src="../new_assets/img/batikin/loading.gif" alt="">
                </div>
                <div class="alert alert-success" id="cSuccess" hidden="true">
                    <h4 id="batikName">Batik </h4>
                    <h6 id="batikCity">Solo, Jawa tengah</h6>
                    <h6>Penjelasan : <br>
                    <span id="batikDesc">
                        Lorem Ipsum 
                    </span>
                    </h6>
                    {{!-- <button class="btn btn-sm btn-success batikin-gradient"> <i class="bx bxl-whatsapp"></i> &nbsp Share result</button> --}}
                </div>
                <div class="alert alert-danger" id="cFailed" hidden="true">
                    Seems something wrong here, please retry
                </div>
               <form id="formAccountSettings" method="POST" onsubmit="return false">
                  <div class="mt-2">
                     <button type="button" class="btn btn-primary btn-block batikin-primary me-2" onclick="classifyObject();">Submit Image and Get Classification Result</button>
                  </div>
               </form>
            </div>
            <!-- /Account -->
         </div>
      </div>
   </div>
</div>

{{!-- Modal Response Api --}}
<div class="col-lg-4 col-md-6">
   <div class="mt-3">
      <!-- Modal -->
      <div class="modal fade" id="modalResponse" tabindex="-1" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button
                     type="button"
                     class="btn-close"
                     data-bs-dismiss="modal"
                     aria-label="Close"
                     ></button>
               </div>
               <div class="modal-body">
                  <h4 class="text-center" id="title">operation success</h4>
                  <br>
                  <h3 class="text-center">
                     <img id="resImage" src="../new_assets/img/vector/500.svg" height="200" alt="">
                  </h3>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary batikin-gradientx" data-bs-dismiss="modal">
                  OK
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

   const accessToken = localStorage.getItem('accessToken');
   const BACKEND_URL = 'https://backend.batikin.site';
   const DEFAULT_PROFILE = '../new_assets/img/avatars/default.png';
   let NEW_IMAGE = DEFAULT_PROFILE;

    $(document).ready(() => {
      cekAuth();
      $("#upload").change(function(){
         const formData = new FormData();
         const fileInput = $('#upload')[0];
         formData.append('file', fileInput.files[0]);
         $.ajax({
            url: `${BACKEND_URL}/api/media/0`,
            method: 'POST',
            data: formData,
            dataType: 'JSON',
            processData: false,
            contentType: false,
            headers: {
               'Authorization': `Bearer ${accessToken}`
            },
            success: (response) => {
               let newMedia = response.data.url || DEFAULT_PROFILE;
               NEW_IMAGE = newMedia !== '' ? newMedia : '';
               $('#profilePictureUploaded').attr('src', NEW_IMAGE);
            },
            error: (err) => {
               console.log(err)
            }
         });
      });
      $("#reset").click(function() {
          NEW_IMAGE = '';
          $('#profilePictureUploaded').attr('src', '../new_assets/img/batikin/img_placeholder.png');
      });
    });
    const cekAuth = () => {
      $.ajax({
        url: '/verify',
        method: 'POST',
        data: {
          accessToken
        },
        dataType: 'JSON',
        success: (response) => {
          if(!response.data.isVerified) {
              localStorage.clear()
              window.location = '/logout'
          } else {
              const userdata = response.data.data;
              console.log('userdata : ', userdata);
              $('#nameLabel').html(userdata.name)
          }
        },
        error: (err) => {
          console.log(err)
          localStorage.clear()
          window.location = '/logout'
        }
      });
    }

   const classifyObject = () => {
        $('#cSuccess').attr('hidden', true);
        $('#cFailed').attr('hidden', true);
        $('#cLoading').attr('hidden', false);
        const formData = new FormData();
        const fileInput = $('#upload')[0];
        const finalFile = fileInput.files[0];
        if(!finalFile) {
            $('#cSuccess').attr('hidden', true);
            $('#cFailed').attr('hidden', false);
            $('#cLoading').attr('hidden', true);
            return;
        } else if(finalFile?.name === 'img_placeholder.png') {
            $('#cSuccess').attr('hidden', true);
            $('#cFailed').attr('hidden', false);
            $('#cLoading').attr('hidden', true);
            return;
        }
        formData.append('file', finalFile);
        $.ajax({
            url: `${BACKEND_URL}/api/classification`,
            method: 'POST',
            data: formData,
            dataType: 'JSON',
            processData: false,
            contentType: false,
            headers: {
               'Authorization': `Bearer ${accessToken}`
            },
            success: (response) => {
                $('#cLoading').attr('hidden', true);
                const { name, city, description } = response.data;
                $('#cSuccess').attr('hidden', false);
                $('#batikName').text(name);
                $('#batikCity').text(city);
                $('#batikDesc').text(description);

                $('#cFailed').attr('hidden', true);
            },
            error: (err) => {
               console.log(err)
                $('#cSuccess').attr('hidden', true);
                $('#cFailed').attr('hidden', false);
                $('#cLoading').attr('hidden', true);
            }
        });
   }
</script>

            